@import "tailwindcss";

:root {
  --primary: #346739;
  --secondary: #79AE6F;
  --accent: #9FCB98;

  --background: #F7FAF5;
  --card: #FFFFFF;

  --heading: #0c1520;
  --text: #181819;
  --foreground: #181819;

  --border: #DDE7DB;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeDown {
  animation: fadeDown 0.6s ease forwards;
}

.logo-font {
  font-family: var(--font-dynapuff);
}

.heading-font {
  font-family: var(--font-fredoka);
}

.body-font {
  font-family: var(--font-poppins);
}

.filter-input {
  height: 48px;
  border: 1px solid #d1d5db;
  border-radius: 14px;
  padding: 0 10px;
  background: #f9fafb;
  color: #374151;
  font-size: 14px;
  outline: none;
  transition: all 0.2s ease;
}

.filter-input:focus {
  border-color: #346739;
  background: white;
  box-shadow: 0 0 0 4px rgba(52, 103, 57, 0.1);
}

.filter-apply-btn {
  height: 48px;
  padding: 0 24px;
  border-radius: 14px;
  background: #346739;
  color: white;
  font-weight: 600;
  transition: all 0.2s ease;
}

.filter-apply-btn:hover {
  background: #2c5c30;
}

.filter-clear-btn {
  height: 48px;
  padding: 0 24px;
  border-radius: 14px;
  background: #fff5f5;
  color: #dc2626;
  border: 1px solid #fecaca;
  font-weight: 600;
  transition: all 0.2s ease;
}

.filter-clear-btn:hover {
  background: #fee2e2;
}

.nav-link {
  position: relative;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #16a34a;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: #16a34a;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

@keyframes tractorMove {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(100vw + 300px));
  }
}

.tractor-1 {
  animation: tractorMove 9s linear infinite;
}

.tractor-2 {
  animation: tractorMove 10s linear infinite;
}
.tractor-3 {
  animation: tractorMove 12s linear infinite;
}

@keyframes cloudMove {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}

.cloud-1 {
  animation: cloudMove 7s ease-in-out infinite;
}

.cloud-2 {
  animation: cloudMove 10s ease-in-out infinite;
}