@import "tailwindcss";

:root {
  --primary: #346739;
  --secondary: #79AE6F;
  --accent: #9FCB98;

  --background: #F7FAF5;
  --card: #FFFFFF;

  --heading: #1F2937;
  --text: #4B5563;
  --border: #DDE7DB;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeDown {
  animation: fadeDown 0.6s ease;
}

.logo-font {
  font-family: var(--font-dynapuff);
}

.heading-font {
  font-family: var(--font-fredoka);
}

.body-font {
  font-family: var(--font-poppins);
}